

body{
    background-color: rgb(234, 234, 235);
    
}

form{
    text-align: center;
}

.foto1{
    width: 100%;
    height: 600px;
}

.foto2{
    width: 100%;
    height: 600px;
}

.foto3{
    width: 100%;
    height: 600px;
}




